* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.slide {
  width: 1556px;
  height: 100vh;
}

@font-face {
  font-family: frankfurter-medium-plain;
  src: url(./fonts/LT.ttf);
}

.wrapper {
  display: flex;
  flex-direction: row;
  width: 7780px;
  transform: rotate(90deg) translateY(-100vh);
  transform-origin: top left;
}

.one {
  background: #00bff3;
}

.two {
  background: #00bff3;
}

.three {
  background: #00bff3;
}

.four {
  background: #00bff3;
}

.five {
  background: #00bff3;
}

.outer-wrapper {
  width: 100vh;
  height: 100vw;
  transform: rotate(-90deg) translateX(-100vh);
  transform-origin: top left;
  overflow-y: scroll;
  overflow-x: hidden;
  position: absolute;
  -ms-overflow-style: none;
}

::-webkit-scrollbar {
  display: none;
}

.grassground {
  position: absolute;
  left: 0;
  top: 80%;
  width: 7780px;
  height: 90%;
  z-index: 13;
}

#ground {
  width: 100%;
  background-image: url(./assests/ground.png);
  position: absolute;
  height: 100%;
}

#grass {
  position: absolute;
  width: 100%;
  height: 50px;
  background-image: url(./assests/grass.png);
  z-index: 2;
}

.stand {
  max-width: 40vw;
  max-height: 28vh;
  background-position: center;
  background-size: cover;
  position: absolute;
  top: 52%;
  left: 60px;
  z-index: 10;
  
}

.stand2 {
  max-width: 40vw;
  max-height: 28vh;
  background-position: center;
  background-size: cover;
  position: absolute;
  top: 52%;
  left: 60px;
  z-index: 10;
  display: none;
}


.character {
  position: absolute;
  top: 52%;
  left: 60px;
  transform: translateX(80);
  z-index: 10;
}

.character-run {
  position: absolute;
  left: 6vw;
  top: 52%;
  left: 60px;
  display: none;
  z-index: 10;
  transition: 0.2s;
}

.character-run2 {
  position: absolute;
  left: 6vw;
  top: 52%;
  left: 60px;
  display: none;
  z-index: 10;
  display: none;
  transition: 0.2s;
}

.run {
  max-width: 40vw;
  max-height: 28vh;
  position: absolute;
  left: 60px;
  top: 52%;
  z-index: 10;
  transition: 0.2s;
}

.run2 {
  max-width: 40vw;
  max-height: 28vh;
  position: absolute;
  left: 60px;
  top: 52%;
  z-index: 10;
  display: none;
  transition: 0.2s;
}

.sun img{
    width: 29vh;
    height: 26vh;
    position: absolute;
    top: 12%;
    left: 70vw;
    transition: 0.3s;
  }

  .mountain img {
    position: absolute;
    max-width: 100vw;
    max-height: 150vh;
    bottom: 19%;
    left: 90vw ;
    transition: 0.3s;
  }

  .mountain2 img {
    position: absolute;
    max-width: 100vw;
    max-height: 150vh;
    bottom: 19%;
    left: 400vw ;
    transition: 0.3s;
  }

  .popup {
    position: absolute;
    padding: 5px;
    width: 300px;
    height: 125px;
    background-color: white;
    border-radius: 20px;
    top: 40vh;
    left: 18vw;
    z-index: 12;
    border: 2px solid black;
    justify-content: center;
    align-items: center;
    font-size: 1.1rem;
    display: block;
    opacity: 0.9;
  }

  .popup p {
    margin: 0 5px;
    justify-content: center;
    position: relative;
    top:50%;
    left:50%;
    transform: translate(-50%,-50%);
    font-family: frankfurter-medium-plain;
  }

  .popup p span{
    font-size: 1.2rem;
    animation: textsc 2s linear infinite;
  }

  @keyframes textsc {
    0%{
      color: white;
    }
    100%{
      color: red;
    }
  }

  .square {
    position: relative;
    width: 20px;
    height: 20px;
    border-top: 2px solid white;
    border-bottom: 2px solid black;
    border-left: 2px solid white;
    border-right: 2px solid black;
    background-color: white;
    top: 2px;
    left: 50px;
    transform: rotate(45deg);
  }

  .skills1 {
    position: absolute;
    width: 900px;
    top: 15vh;
    left: 190vw;
    height: 80%;
    z-index: 9;
  }

  .title {
    margin-left: 90px;
    display: flex;
    justify-content: space-evenly;
    font-family: frankfurter-medium-plain;
    color: white;
    font-size: 25px;
  }

  .text {
    display: flex;
    flex-direction: column;
    color: white;
    font-family: frankfurter-medium-plain;
  }

  .text1,.text2,.text3,.text4,.text5 {
    border-bottom: 2px solid white;
    margin: 30px 0;
    font-size: 20px;
  }

  .skills2 {
    position: absolute;
    width: 900px;
    top: 15vh;
    left: 270vw;
    height: 80%;
    z-index: 9;
  }
  

  .text6,.text7,.text8,.text9{
    margin: 43px 0;
    font-size: 20px;
    border-bottom: 2px solid white;
  }

  .title2 {
    margin-left: 90px;
    display: flex;
    justify-content: space-evenly;
    font-family: frankfurter-medium-plain;
    color: white;
    font-size: 25px;

  }

  .dragon1 {
    position: absolute;
    top: 4vh;
    left: 9vw;
  }

  .dragon1 img {
    width: 65px;
  }

  .dragon2 {
    position: absolute;
    top: 4vh;
    left: 20vw;
  }

  .dragon2 img {
    width: 65px;
  }

  .dragon3 {
    position: absolute;
    top: 4vh;
    left: 32vw;
  }

  .dragon3 img {
    width: 65px;
  }

  .dragon4 {
    position: absolute;
    top:4vh;
    left: 44vw;
  }

  .dragon4 img {
    width: 65px;
  }

  .dragon5 {
    position: absolute;
    top: 20vh;
    left: 9vw;
  }

  .dragon5 img {
    width: 65px;
  }

  .dragon6 {
    position: absolute;
    top: 20vh;
    left: 20vw;
  }

  .dragon6 img {
    width: 65px;
  }

  .dragon7 {
    position: absolute;
    top: 20vh;
    left: 32vw;
  }

  .dragon7 img {
    width: 65px;
  }

  .dragon8 {
    position: absolute;
    top: 20vh;
    left: 44vw;
  }

  .dragon8 img {
    width: 65px;
  }

  .dragon9 {
    position: absolute;
    top: 35vh;
    left: 9vw;
  }

  .dragon9 img {
    width: 65px;
  }

  .dragon10 {
    position: absolute;
    top: 35vh;
    left: 20vw;
  }

  .dragon10 img {
    width: 65px;
  }

  .dragon11 {
    position: absolute;
    top: 35vh;
    left: 32vw;
  }

  .dragon11 img {
    width: 65px;
  }

  .dragon12 {
    position: absolute;
    top: 50vh;
    left: 9vw;
  }

  .dragon12 img {
    width: 65px;
  }

  .dragon13 {
    position: absolute;
    top: 50vh;
    left: 20vw;
  }

  .dragon13 img {
    width: 65px;
  }

  .dragon14 {
    position: absolute;
    top: 50vh;
    left: 32vw;
  }

  .dragon14 img {
    width: 65px;
  }

  .plant1 {
    position: absolute;
     bottom: 14.5vh;
     left: 10vw;
     animation: up1 1s linear ;
     display: none;
  }

  .plant2 {
    position: absolute;
     bottom: 14.5vh;
     left: 22vw;
     animation: up1 1.5s linear;
     display: none;
  }
  .plant3 {
    position: absolute;
     bottom: 14.5vh;
     left: 33vw;
     animation: up1 2s linear;
     display: none;
  }

  .plant4 {
    position: absolute;
     bottom: 8.5vh;
     left: 44vw;
     animation: up2 2s linear;
     display: none;
  }

  
  @keyframes up1 {
    from {
        bottom: -20vh
    }

    to {
      bottom: 14.5vh;
    }
  }

  @keyframes up2 {
    from {
        bottom: -20vh
    }

    to {
      bottom: 8.5vh;
    }
  }

  .stone {
    position: absolute;
    bottom: 19vh;
    left: 340vw;
    z-index: 12;
  }

  


