.clouds {
    position: absolute;
    z-index: 1;
}

.cloud1 img {
    position: absolute;
    top:10vh;
    left: 10vh;
    max-width: 30vh;
    max-height: 35vh;
    animation: cloud1 2000s infinite linear;
    
}

#cloud2 img {
    position: absolute;
    top:30vh;
    left: 45vh;
    max-width: 30vh;
    max-height: 35vh;
    animation: cloud2 1000s infinite linear;
}

.cloud3 img {
    position: absolute;
    top:15vh;
    left: 6144px;
    max-width: 30vh;
    max-height: 35vh;
    animation: cloud3 2000s infinite linear;
    
}

.cloud4 img {
    position: absolute;
    top:20vh;
    left: 2611px;
    max-width: 30vh;
    max-height: 35vh;
    animation: cloud4 1200s infinite linear;
}

@keyframes cloud1 {
    from {
        left: 0;
        transform: translatex(50%);
        opacity: 0;
    }
    0.2%{
        opacity: 1;
    }
    to{
        left: 100%;
        transform: translateX(7630px)
    }
}

@keyframes cloud2 {
    from {
        left: 0;
        transform: translatex(300%);
        opacity: 0;
    }
    0.5%{
        opacity: 1;
    }

    to{
        left: 100%;
        transform: translateX(7630px)
    }
}

/* .raindrop {
    position: fixed;
    left: 166vw;
    top:47vh;
}

.rain {
    height: 0.4vh;
    width: 12vw;
    background: linear-gradient(90deg, #fff 0%, #fff 50%, #00bff3 50%, #00bff3 0%);
    background-size: 2vw;
    transform: rotate(280deg);
    animation: rain 2s linear infinite;
    position: absolute;
    border-radius: 50%;
    top: 2vh;
    
}

.one{
    top: 4vh;
    left: 1.5vw;
}
.two{
    top: 2vh;
    left: 3vw;
}
.three{
    top: 4vh;
    left: 1.5vw;
}
.four{
    top: 2vh;
    left: 4.5vw;
}
.five{
    top: 4vh;
    left: 6vw;
}
.six{
    top: 2vh;
    left: 7.5vw;
} */

@keyframes rain {
    100% {
        background-position: -20vw;
    }
}











